# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.cache
.directory
._*
*~
*.DS_Store
*.bak.*
*.bak
*.cache
*.gz
*.log
*.old
*.swp
*.zip

# AI Agents
# --------------------------
.ai
.gemini
.opencode

# Development files
# --------------------------
.certs
.env.*
.env

# But Keep these
# --------------------------
!.env.example
!.env.*.example
!.gitkeep
