TZ=Asia/Jakarta
# Main entrypoints domains
ROOT_DOMAIN=homelab.lan

GRAFANA_DOMAIN="grafana.${ROOT_DOMAIN}"

GF_DATABASE_NAME=grafana
GF_DATABASE_USER=grafana
GF_DATABASE_PASSWORD=secret

PROMETHEUS_DOMAIN="prometheus.${ROOT_DOMAIN}"

TEMPO_OTLP_GRPC_PORT=4317
TEMPO_OTLP_HTTP_PORT=4318
TEMPO_DOMAIN="tempo.${ROOT_DOMAIN}"

ALLOY_SYSLOG_PORT=514
ALLOY_DOMAIN="alloy.${ROOT_DOMAIN}"