TZ=Asia/Jakarta
# Get via `id -u`
PUID=
# Get via `id -g`
PGID=
# Get via `getent group docker | cut -d: -f3`
GID=
# Main entrypoints domains
ROOT_DOMAIN=homelab.lan

# MANAGERS_DIR=/opt/managers
STACKS_DIR=/opt/stacks
# Managers database password
DB_PASS=

# =========================================

ARCANE_DOMAIN="arcane.${ROOT_DOMAIN}"
ARCANE_URL="http://${ARCANE_DOMAIN}"

# Generated via `openssl rand -hex 32`
ARCANE_ENCRYPTION_KEY=

# =========================================

DOCKHAND_DOMAIN="dockhand.${ROOT_DOMAIN}"
DOCKHAND_URL="http://${DOCKHAND_DOMAIN}"

# Generated via `openssl rand -base64 32`
DOCKHAND_ENCRYPTION_KEY=

# =========================================

DBX_DOMAIN="dbx.${ROOT_DOMAIN}"
DBX_URL="http://${DBX_DOMAIN}"
