TZ=Asia/Jakarta

# Main entrypoints domains
ROOT_DOMAIN=homelab.lan
TRAEFIK_DOMAIN="traefik.${ROOT_DOMAIN}"

# Comma separated value of CIDR (e.g 10.10.0.0/24,192.168.1.0/24)
ALLOWED_IP_RANGES=

# ACME Registration
ACME_EMAIL=

# Cloudflare API Token
CF_DNS_API_TOKEN=
